# Local .terraform directories
.terraform/

# .tfstate files
terraform.tfstate
terraform.tfstate.backup

# crash log files
crash.log

# exclude overrides file
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# tfvars (contains secrets)
*.tfvars
*.tfvars.json

# Ignore lock file
.terraform.lock.hcl

# Ignore SSH keys
*.pem
*.key
